<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCodlqsLUjymubbYY6uE-HOrCkn_vaPxXk</string>
	<key>GCM_SENDER_ID</key>
	<string>382330631143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amaznoClone</string>
	<key>PROJECT_ID</key>
	<string>clone-bdda8</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-bdda8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382330631143:ios:bc56bfab0300e7e3294342</string>
</dict>
</plist>